{
  "semi": false,
  "singleQuote": true,
  "pugSingleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "pugAttributeSeparator": "none",
  "bracketSpacing": true,
  "printWidth": 80,
  "pugSortAttributesBeginning": [
    "^v-if$",
    "^v-else-if$",
    "^v-else$",
    "^v-for$",
    "^ref$",
    "^v-model",
    "^v-on$",
    "^v-bind$",
    "^v-text$",
    "^cols$",
    "^:key$",
    "^name$",
    "^:?type$",
    "^:value$",
    "^:?label$",
    "^:headers$",
    "^:items$",
    "^:?item-text$",
    "^:?item-value$",
    "^:?item-disabled$",
    "^:?placeholder$",
    "^:?src$",
    "^:?color$",
    "^:?text-color$",
    "^:?icon$",
    "^:?small$"
  ],
  "pugSortAttributesEnd": [
    "^:?hint$",
    "^:?persistent-hint$",
    "^prepend-",
    "^@click:prepend",
    "^append-",
    "^@click:append",
    "^:to$",
    "^exact$",
    "^:(?!(width|height|loading|disabled|data-))",
    "^target$",
    "^:?width$",
    "^:?height$",
    "^:loading$",
    "^:disabled$",
    "^:?data-",
    "^@click",
    "^@"
  ]
}